* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  text-decoration: none;
  font-family: "Bai Jamjuree", sans-serif;
  list-style: none !important;
}

body {
  background-image: url(/images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.btn {
  text-align: center;
  margin: 1rem;
  padding-bottom: 0.6rem;
}
.btn button {
  border-radius: 3rem;
  border: none;
  padding: 0.8rem 4rem;
  color: white;
  font-size: 0.8rem;
  transition: 0.3s ease-in-out;
}
.btn button:hover {
  transform: scale(1.1);
}

p {
  text-align: center;
  color: hsl(201deg, 11%, 66%);
  padding-top: 0.7rem;
  line-height: 1.5;
}

h1 {
  text-align: center;
  color: hsl(210deg, 10%, 33%);
  font-size: 1.8rem;
}

h3 {
  text-align: center;
  color: hsl(210deg, 10%, 33%);
  font-size: 1.4rem;
  width: 80%;
  margin: 0 auto;
  padding-top: 7rem;
}

h4 {
  color: hsl(210deg, 10%, 33%);
}

main {
  width: 90%;
  margin: auto;
  margin-top: 6rem;
}

.deviceContainer {
  width: 100%;
  transition: 0.4s ease-in-out;
}
.deviceContainer img {
  width: 100%;
}

.deviceContainer:hover {
  transform: scale(0.9);
  box-shadow: 0px 20px 30px -33px;
}

.headerLogo {
  text-align: center;
  margin-bottom: 3rem;
  transition: 4s ease-in-out;
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes logo {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(0deg);
  }
}
@keyframes logo {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(0deg);
  }
}

.section2 p {
  padding-bottom: 4rem;
}
.section2 ul {
  text-align: center;
  margin-top: 3rem;
}
.section2 ul li p {
  padding-bottom: rem;
}

.section3 p {
  padding-bottom: 4rem;
}

.section4 p {
  padding-bottom: 5rem;
}
.section4 ul {
  text-align: center;
  margin-top: 2rem;
}
.section4 ul li p {
  padding-bottom: rem;
}

.section5 div {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
}
.section5 div .company {
  padding-bottom: 3rem;
  transition: 0.4s ease-in-out;
}
.section5 div .company img {
  filter: grayscale(100%);
  max-width: 50%;
  cursor: pointer;
}
.section5 div .company img:hover {
  filter: grayscale(0%);
}

.company:hover {
  transform: scale(1.1);
}

.vector {
  width: 80%;
}

.section6 p {
  padding-bottom: 2rem;
}

footer {
  background-color: hsl(201deg, 11%, 66%);
}
footer .footerContainer {
  width: 90%;
  margin: 0 auto;
}
footer .footerContainer .footerLogo {
  text-align: center;
  padding-top: 4rem;
}
footer .footerContainer .footerLogo img {
  max-width: 50px;
}
footer .footerContainer ul {
  padding-top: 1rem;
  text-align: center;
}
footer .footerContainer ul li {
  padding: 1rem;
}
footer .footerContainer ul li a {
  color: hsl(210deg, 10%, 33%);
  transition: 0.3s ease-in-out;
  position: relative;
}
footer .footerContainer ul li a:hover {
  -webkit-text-decoration: underline hsl(171deg, 66%, 44%);
          text-decoration: underline hsl(171deg, 66%, 44%);
  text-underline-offset: 0.4rem;
  font-size: 1.3rem;
}
footer .footerContainer .socialMediaContainer {
  display: flex;
  justify-content: center;
}
footer .footerContainer .socialMediaContainer div {
  padding: 1.7rem;
}

@media (min-width: 768px) {
  body {
    background-image: url(/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  p {
    width: 70%;
    margin: 0 auto;
  }

  .computer_list {
    display: flex;
    align-items: center;
  }
  .computer_list h4 {
    width: 70%;
    margin: 0 auto;
    text-align: start;
  }
  .computer_list p {
    text-align: start;
  }

  .section4 ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section4 ul li h4 {
    padding-top: 2rem;
  }
  .section4 ul li p {
    width: 70%;
    margin: 0 auto;
  }

  .section5 div {
    grid-template-columns: auto auto auto auto auto;
    place-items: center;
    margin-top: 3rem;
  }
  .section5 div .company {
    max-width: 300px;
  }

  .vector {
    width: 200px;
  }

  .btnContainer {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */