.btn {
    text-align: center;
    margin: 1rem;
    padding-bottom: 0.6rem;
    button{
        border-radius: 3rem;
        border: none;
        padding: .8rem 4rem;
        color: white;
        font-size: .8rem;
    }
}