*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Bai Jamjuree', sans-serif;
    list-style: none !important;
}

body{
    background-image: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
}