p{
    text-align: center;
    color: $txtGrayishBlue;
    padding-top: 1.2rem;
    line-height: 1.5;
}


h1{
    text-align: center;
    color: $txtDarkGrayishBlue;
    font-size: 1.8rem;
}
h3{
    text-align: center;
    color: $txtDarkGrayishBlue;
    font-size: 1.4rem;
    width: 80%;
    margin: 0 auto;
}