footer{
    background-color: $txtGrayishBlue;
    margin-top: 10rem;
    .footerContainer{
        width: 90%;
        margin: 0 auto;
        .footerLogo{
            text-align: center;
            padding-top: 4rem;
            img{
                max-width: 50px;
            }
        }
        ul{
            padding-top: 1rem;
            text-align: center;
            li{
                padding: 0.6rem;
                a{
                    color: $txtDarkGrayishBlue;
                    transition: .3s ease-in-out;
                    position: relative;
                    &:hover{
                        text-decoration: underline hsl(171, 66%, 44%);
                        text-underline-offset: 0.4rem;
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .socialMediaContainer{
            display: flex;
            justify-content: center;
            div{
                padding: 1.7rem;
                a{
                    i{
                       font-size: 1.6rem;
                       color: hsl(210, 10%, 33%);
                       transition: 0.3s ease-in-out;
                        &:hover{
                            color: hsl(171, 66%, 44%);
                            transform: scale(0.96);
                        }
                   }
                }
            }
        }
    }   
}
