footer{
    background-color: $txtGrayishBlue;
    .footerContainer{
        width: 90%;
        margin: 0 auto;
        .footerLogo{
            text-align: center;
            padding-top: 4rem;
            img{
                max-width: 50px;
            }
        }
        ul{
            padding-top: 1rem;
            text-align: center;
            li{
                padding: 1rem;
                a{
                    color: $txtDarkGrayishBlue;
                    transition: .3s ease-in-out;
                    position: relative;
                    // &::after{
                    //     content: "";
                    //     position: absolute;
                    //     height: 30px;
                    //     width: 100px;
                    //     // transition: .1s ease-in-out;
                    // }
                    &:hover{
                        text-decoration: underline hsl(171, 66%, 44%);
                        text-underline-offset: 0.4rem;
                        // color: hsl(151, 66%, 44%);
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .socialMediaContainer{
            display: flex;
            justify-content: center;
            // text-align: center;
            div{
                padding: 1.7rem;
            }
        }
    }   
}
// a:hover{
//     text-decoration: hsl(171, 66%, 44%);
// }