.deviceContainer{
    width: 100%;
    transition: .4s ease-in-out;
    img{
        width: 100%;
    }
}
.deviceContainer:hover{
    transform: scale(0.9);
    box-shadow: 0px 20px 30px -33px;
}
    
        

.headerLogo{
    text-align: center;
    margin-bottom: 3rem;
}

.section2{
    p{
        padding-bottom: 4rem;
    }
    ul{
        text-align: center;
        margin-top: 3rem;
        li{
            p{
                padding-bottom: rem;
            }
        }
    }
}

.section3{
    p{
        padding-bottom: 4rem;
    }
}

.section4{
    p{
        padding-bottom: 5rem;
    }
    ul{
        text-align: center;
        margin-top: 2rem;
        li{
            p{
                padding-bottom: rem;
            }
        }
    }
}

.section5{
    div{
        display: grid;
        grid-auto-flow: row;
        // width: 50%;
        // margin: 0 auto;
        place-items: center;
        .company{
            padding-bottom: 3rem;
            transition: .4s ease-in-out;
            // filter: grayscale(100%);
            img{
                max-width: 50%;
                
                cursor: pointer;
            }
        }
    }
}
.company:hover{
    transform: scale(1.1);
    .img:hover{
        filter: grayscale(0%);
    }
}
.vector{
    width: 80%;
}

.section6{
    p{
        padding-bottom: 2rem;
    }
}