.deviceContainer{
    width: 100%;
    img{
        width: 100%;
    }
}

.headerLogo{
    text-align: center;
    margin-bottom: 3rem;
}

.section2{
    p{
        padding-bottom: 4rem;
    }
    ul{
        text-align: center;
        margin-top: 3rem;
        li{
            p{
                padding-bottom: rem;
            }
        }
    }
}