.deviceContainer{
    width: 100%;
    transition: .4s ease-in-out;
    img{
        width: 100%;
    }
}
.deviceContainer:hover{
    transform: scale(0.9);
    box-shadow: 0px 20px 30px -33px;
}
    
        

.headerLogo{
    text-align: center;
    margin-bottom: 3rem;
}

.section2{
    p{
        padding-bottom: 4rem;
    }
    ul{
        text-align: center;
        margin-top: 3rem;
        li{
            p{
                padding-bottom: rem;
            }
        }
    }
}

.section3{
    p{
        padding-bottom: 4rem;
    }
}

.section4{
    p{
        padding-bottom: 4rem;
    }
    ul{
        text-align: center;
        margin-top: 3rem;
        li{
            p{
                padding-bottom: rem;
            }
        }
    }
}