@media (min-width: 768px) {
    body{
        background-image: url(/images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    p{
        width: 70%;
        margin: 0 auto;
    }
    .computer_list{
        display: flex;
        align-items: center;
        h4{
            width: 70%;
            margin: 0 auto;
            text-align: start;
        }
        p{
            text-align: start;
        }
    }

    .section4{
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                h4{
                    padding-top: 2rem;
                }
                p{
                    width: 70%;
                    margin: 0 auto;
                }
            }
        }
    }

    .section5{
        div{
            // display: grid;
            grid-template-columns: auto auto auto auto auto;
            place-items: center;
            margin-top: 3rem;
            .company{
                max-width: 300px;
            }
        }
    }
    .vector{
        width: 200px;
    }

    .btnContainer{
        display: flex;
        justify-content: center;
    }
    // .deviceContainer{
    //     .mobile{
    //         max-width: 100px;
    //     }
    // }
    .footerContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        // display: grid;
        // grid-auto-flow: column;
        // place-items: center;
        .unorderedList{
            display: flex;
            justify-content: center;
            // display: grid;
            // grid-auto-flow: column;
            // place-items: center;
        }
        // .footerLogo{
        //     transform: translateY(-30px);
        // }
    }
}