@media (min-width: 768px) {
    body{
        background-image: url(/images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    p{
        width: 70%;
        margin: 0 auto;
    }
    .computer_list{
        display: flex;
        align-items: center;
        h4{
            width: 70%;
            margin: 0 auto;
            text-align: start;
        }
        p{
            text-align: start;
        }
    }



    .section5{
        div{
            grid-template-columns: auto auto auto auto auto;
            place-items: center;
            margin-top: 3rem;
            .company{
                max-width: 300px;
            }
        }
    }
    .vector{
        width: 200px;
    }

    .btnContainer{
        display: flex;
        justify-content: center;
    }
    .footerContainer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .unorderedList{
            display: flex;
            justify-content: space-between;
            li{
                text-align: start;
            }
        }
        .footerLogo{
            transform: translateY(-30px);
        }
    }
}

@media (min-width: 768px) {
    .section4{
        ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            li{
                img{
                    height: 2rem;
                }
                h4{
                    padding-top: 2rem;
                }
                p{
                    width: 70%;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .unorderedList{
        column-gap: 2rem;
    }
}


@media (min-width: 1440px) {
    footer{
        .unorderedList{
            column-gap: 7rem;
            li{
                padding: 0.9rem;
            }
        }
    }
}